@import "~swiper/css";
@import "~swiper/css/navigation";

.swiper-slide {
  height: 800px;
}

.azure {
  color: #007aff;
  font-family: verdana;
  text-align: center;
}
button.azure {
  background-color: #ddd;
  color: #007aff;
  font-family: verdana;
  font-style: bold;
  border: 0px;
  display: inline;
  margin: 0 auto;
  width: 50%;
  cursor: pointer;
}
button.azure:hover {
  background-color: #007aff;
  color: white;
  font-family: verdana;
  font-style: bold;
  display: inline;
  width: 50%;
}
